/* card style starts */

.cardStyle{
    max-width: 740px;
    margin-top: 20px;
    margin-left: 20px;
    border: 2px solid goldenrod;
    border-radius: 20px;

}

/* card style ends */

/* employee image style starts  */

.employee-img{
width: 200px;
height: 90px;

}

/* employee image style ends  */

/* employee title and designation style starts  */

.title-text{
color:goldenrod;

}

/* employee title and designation style ends  */

/* Show More button style starts  */

.btn-show-more{
background-color: goldenrod;
border: 1px solid lightgray;
border-radius: 20px;
padding: 8px 14px;

}

/* Show More button style ends  */


